 .u-section-1 {
  background-image: url("images/gc82f0bd70b803aeb841a0e61158d3934379515de178ddcdc650477d0d7a7d7986e514919e76eac2eed78cbc1cca591ea191a73f9229d0923159bbe6f4396dc08_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 507px;
  width: 360px;
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 169px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}